@tailwind base;
@tailwind components;
@tailwind utilities;


html,body,#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


:root[data-theme='dark'] {
  /* 自定义深色模式变量 */
  --bg-color: #141414;
  --text-color: #fff;
}

:root[data-theme='light'] {
  /* 自定义浅色模式变量 */
  --bg-color: #fff;
  --text-color: #000;
}

.app-container {
  background-color: var(--bg-color);
  color: var(--text-color);
}


::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  transition: color 0.2s ease;
}
